@media (min-width: 768px) and (max-width: 1024px) {
    .crew-container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .crew-image {
      width: 70% !important;
      margin: 0 auto;
    }
  }