@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bellefair&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Foundation:wght@405&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');

body{
    font-family: "Raleway", sans-serif;
}
html, body, #root {
    background: black;
    min-height: 100vh;
  }